$color_logo_text: #111111;
$color_border: #c1c1c1;
$color_text_black: #131313;
$color_text_white: #ffffff;
$color_text-gray: #b1b1b1;
$color_btn_submit: rgb(221, 11, 11);
$color_background: #ffffff;
$color_none: #a1a1a1;




